body {
  display: flex;
  justify-content: center;
  align-content: space-around;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: black;
  background-image: linear-gradient(to right, teal , aquamarine);
  padding: .5%
}

.header {
  position: absolute;
  top: 5%
}

.results {
  padding-top: 25px;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(100px, auto);
}


.Collapsible__contentInner {
  padding: 10px;
  border: 3px solid lightgray;
}

.Collapsible__trigger {
  display: flex;
  justify-content: center;
  align-items: end;
  font-weight: 400;
  text-decoration: none;
  color: black;
  position: relative;
  border: 3px solid lightgray;
  padding: 5px;
  color: black;
}

.resultsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

