body {
  font-family: 'Sawarabi Mincho', sans-serif;
  background-image: linear-gradient(to right, teal , aquamarine);
}

.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(100px, auto);
}